body {
  background-color: hsl(0, 0%, 12%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-direction: column;
  color: #a8a8a8;
  box-sizing: border-box;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: auto;
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  background-color: hsl(0, 0%, 8%);
  background: linear-gradient(to right, hsl(0, 0%, 2%), hsla(0, 0%, 2%, 0.8));
  width: 100%;
  /*border: red solid 1px;*/
}

h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #a8a8a8;
  font-size: 14px;
  /*border: red solid 1px;*/
}
.footerSectionContact,
.socialLinksContainer,
.footerSectionNavigation {
  flex: 1;
  padding: 24px;
  /*border: blue solid 1px;*/
}

.footerSectionContact,
.socialLinksContainer {
  border-right: solid 1px hsla(0, 0%, 50%, 0.2);
}

.socialLinksContainer {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.socialLinks {
  display: flex;
}

.footerSectionContact p,
.footerSectionContact a {
  color: #a8a8a8;
  transition: 0.3s ease;
  text-decoration: none;
  margin: 10px;
}

.footerSectionContact p {
  font-size: 12px;
}

.footerSectionContact a:hover {
  color: hsl(0, 0%, 80%);
  text-decoration: underline;
}

.footerSectionNavigation {
  display: flex;
  flex-direction: column;
}

.footerSectionNavigation a {
  text-decoration: none;
  font-size: 12px;
  color: #a8a8a8;
  transition: 0.3s ease;
}

.footerSectionNavigation li {
  margin-bottom: 10px;
}

.footerSectionNavigation a:hover {
  color: hsl(0, 0%, 80%);
  text-decoration: underline;
}

.footerBottom {
  position: relative;
  margin-top: 1; /* Pushes it to the bottom of the container */
  text-align: center;
  border: solid 1px hsla(0, 0%, 35%, 0.8); /* Medium gray with slight transparency */
  padding: 10px;
  background-color: hsl(0, 0%, 8%);
  color: #a8a8a8;
}

.footerBottom p {
  flex: 1;
  text-align: center;
  margin: 0;
}
