.footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #1a1a2e, #16213e, #0f0f1e);
  color: hsl(210, 10%, 85%);
  box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.2);
  padding-bottom: 20px;
  /*border: red solid 1px;*/
}

h4 {
  margin-bottom: 15px;
  font-size: 16px;
  color: hsl(210, 15%, 95%);
  text-transform: uppercase;
  /*border: red solid 1px;*/
}
.footerSectionContact,
.socialLinksContainer,
.footerSectionNavigation {
  flex: 1;
  padding: 24px;
  /*border: blue solid 1px;*/
}

.footerSectionContact,
.socialLinksContainer {
  border-right: solid 1px hsla(0, 0%, 50%, 0.2);
}

.socialLinksContainer {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.socialLinks {
  display: flex;
}

.footerSectionContact p,
.footerSectionContact a {
  color: hsl(210, 10%, 85%);
  font-size: 14px;
  transition: color 0.3s ease;
  text-decoration: none;
  margin: 10px;
}

.footerSectionContact p {
  font-size: 12px;
}

.footerSectionContact a:hover {
  color: hsl(0, 0%, 80%);
  text-decoration: underline;
}

.footerSectionNavigation {
  display: flex;
  flex-direction: column;
}

.footerSectionNavigation a {
  text-decoration: none;
  font-size: 12px;
  color: #a8a8a8;
  transition: 0.3s ease;
}

.footerSectionNavigation li {
  margin-bottom: 10px;
}

.footerSectionNavigation a:hover {
  color: hsl(210, 15%, 95%);
  text-decoration: underline;
}

.footerBottom {
  position: relative;
  margin-top: 1; /* Pushes it to the bottom of the container */
  text-align: center;
  border: solid 1px hsla(0, 0%, 35%, 0.8); /* Medium gray with slight transparency */
  padding: 10px;
  font-size: 12px;
  color: hsl(210, 10%, 75%);
  border-top: 1px solid hsla(0, 0%, 50%, 0.2);
}

.footerBottom p {
  flex: 1;
  text-align: center;
  margin: 0;
}

.socialLinksContainer {
  display: flex;
  flex-direction: column;
}

.socialLinks {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.socialIcon {
  font-size: 30px;
  color: hsl(210, 15%, 80%);
  transition: transform 0.3s ease, color 0.3s ease;
}

.socialIcon:hover {
  transform: scale(1.3);
  color: hsl(210, 15%, 95%);
}
