/* General Reset */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header Container */
.navbarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(18, 18, 18, 0.8);
  padding: 10px 20px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.4s ease-out;
}

.navbarBlur {
  backdrop-filter: blur(10px); /* Apply blur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: shrinkHeader 0.3s ease-in-out;
}

@keyframes shrinkHeader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.98);
  }
}

/*Logo*/
.logoImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logoImage:hover {
  animation: spin 0.8s ease-in-out;
  transform: translateY(-2px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar Container */
.navbarContainer {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  top: 60px;
}

/* Navbar List */
.navbar {
  display: flex;
  gap: 25px;
}

/* Link*/
.navbarLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: hsl(210, 10%, 85%);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: color 0.3s ease, transform 0.2s ease, background-color 0.3s ease;
}

.navbarLink:hover {
  color: hsl(0, 69%, 43%);
  background-color: rgba(136, 42, 42, 0.1);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

/* Active Link Styling */
.activeLink {
  color: hsl(0, 69%, 43%);
  font-weight: bold;
  background: linear-gradient(135deg, #32617a, #941919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid hsl(0, 58%, 42%);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbarHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarContainer {
    justify-content: center;
    margin-top: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .navbarLink {
    font-size: 16px;
    padding: 10px;
  }
  .menuButton {
    display: block;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Hamburger*/
/* Header Content for Flex Layout */
.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hamburger Menu Button */
.menuButton {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbarOpen {
  display: flex;
}
